<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>BURGERLAND!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
	<script src="/assets/javascript/burger.js"></script>
	<link rel="stylesheet" href="/assets/css/burger_style.css">

</head>

<body>
	{{{ body }}}
</body>

</html>